/* @tailwind base;
@tailwind components;
@tailwind utilities; */
.btn{
    color: white;
    background-color: blue;
    border-radius: 6px;
    margin-top: 5px;
}
.btn:hover{
    background-color: white;
    color: blue;
    cursor: pointer;
    border: 1.6px solid blue;
    border-radius: 8px;
}
.image{
    text-align: center;
}
